NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_LINKEDIN_PARTNER_ID=
NEXT_PUBLIC_SEGMENT_WRITE_KEY=
WEBHOOK_URL=
HUBSPOT_PORTAL_ID=
HUBSPOT_FORM_ID=
HUBSPOT_ACCESS_TOKEN=
GHL_WEBHOOK_URL=
NEXT_PUBLIC_GHL_BOOKING_URL=
NEXT_PUBLIC_GHL_BOOKING_EMBED_URL=
NOTIFICATION_EMAIL=
ENABLE_LOCAL_STORAGE=true
ADMIN_PASSWORD=
